[submodule "public"]
	path = public
	url = git@github.com:ndlug/ndlug.github.io.git
	branch = master
[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/comfusion/after-dark.git
