{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <header>
      <br>
      <div class='bar'>
        Terminal
      </div>
      <div class='term'>
  <div class="row">
  <div class="leftterm">
          <pre>
webmaster@ndlug.org:~$ screenfetch
                 .88888888:.
                88888888.88888.
              .8888888888888888.
              888888888888888888
              88' _`88'_  `88888
              88 88 88 88  88888
              88_88_::_88_:88888
              88:::,::,:::::8888
              88`:::::::::'`8888
             .88  `::::'    8:88.
            8888            `8:888.
          .8888'             `888888.
         .8888:..  .::.  ...:'8888888:.
        .8888.'     :'     `'::`88:88888
       .8888        '         `.888:8888.
      888:8         .           888:88888
    .888:88        .:           888:88888:
    8888888.       ::           88:888888
    `.::.888.      ::          .88888888
   .::::::.888.    ::         :::`8888'.:.
  ::::::::::.888   '         .::::::::::::
  ::::::::::::.8    '      .:8::::::::::::.
 .::::::::::::::.        .:888:::::::::::::
 :::::::::::::::88:.__..:88888:::::::::::'
  `'.:::::::::::88888888888.88:::::::::'
        `':::_:' -- '' -'-' `':_::::'`
      </pre>
  </div>
  <div class="rightterm">
      <br>
      <br>
      <br>
      <ul>
          <li> <span class="spannyboi">webmaster</span>@<span class="spannyboi">ndlug.org</span></li>
            <li> <span class="spannyboi">OS</span>: Highly varied</li>
            <li> <span class="spannyboi">Uptime</span>: 4 years</li>
            <li> <span class="spannyboi">Members</span>: 245</li>
            <li> <span class="spannyboi">Shell</span>: Mostly bash</li>
            <li> <span class="spannyboi">New Year's Resolution</span>: Broaden Participation</li>
            <li> <span class="spannyboi">WM</span>: Permacloud</li>
            <li> <span class="spannyboi">Purpose</span>: The mission of the Linux Users Group of Notre Dame (NDLUG) is to promote the use and awareness of open source projects, including but not limited to Linux. We aim to provide a welcoming community for any and all open source enthusiasts and help promote the Hacker Ethic, whose tenets are central to the open source environment.
            </li>
      </ul>
      </div>
      </div>
      </div>
  </header>
  <div class="row">
  <div class="column1">
    <h3>News</h3>
      {{ range (.Paginate (where .Data.Pages "Type" "post") 3).Pages }}
        {{ partial "page-summary-home.html" . }}
        <hr>
      {{ end }}
  </div>
  <div class="column2">
    <h3>Contact</h3>
    <ul>
        <li>Meetings every Wednesday</li>
        <li>Time: 5:00-6:00 PM</li>
        <li>Location: Fitzpatrick Hall, Room 356 </li>
        <li> <a href="https://nd-cse.slack.com/signup">Slack Channel</a></li>
        <li> <a href="https://github.com/NDLUG/">GitHub</a></li>
        <li> <a href="https://goo.gl/forms/wWeAnGYp2PsGeIDp2">Apply for an Account on Appa</a></li>
    </ul>
  </div>
{{ end }}
