{{ if ne .Site.Params.show_menu false }}
<nav itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">NDLUG</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
            <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}}">
            <a itemprop="url" href="{{ .URL }}"><span itemprop="name">{{ .Name }}</span></a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
{{ end }}
